.movie-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
	padding: 20px;
}

@media (max-width: 1000px) {
	.movie-card:nth-child(2n + 1):hover {
		transform-origin: left center !important;
	}

	.movie-card:nth-child(2n):hover {
		transform-origin: right center !important;
	}
}

@media (max-width: 700px) {
	.movie-card:nth-child(n + 1):hover {
		transform-origin: center !important;
	}

	.movie-card:nth-child(n):hover {
		transform-origin: center !important;
	}
}

.movie-card {
	/* width: 300px; */
	height: 450px;
	background-size: cover;
	background-position: center;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	transition: transform 0.4s;
}

.movie-card:hover {
	transform: scale(1.15);
	z-index: 10;
	overflow-y: auto;
}

.movie-card::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.movie-card:first-child:hover {
	transform-origin: left center;
}

.movie-card:last-child:hover {
	transform-origin: right center;
}

/* .movie-card .movie-details {
	visibility: hidden;
} */

.movie-card:hover .movie-details {
	opacity: 1;
	transform: translateY(0);
}

.movie-details {
	/* visibility: visible; */
	/* height: inherit; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
	color: white;
	/* border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px; */
	opacity: 0;
	transform: translateY(100%);
	transition: opacity 0.3s;
}

.movie-description {
	display: flex;
	flex-direction: column;
	/* color: rgb(193, 197, 201); */
	gap: 5px;
}

.movie-card__details h3 {
	margin-top: 0;
}

.movie-card__details p {
	margin: 5px 0;
}
